<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/template-logado}">

<div layout:fragment="breadcrumb">
	<div class="d-flex justify-content-between align-items-center">
	  <ol>
	    <li><a href="/index" th:text="#{company.name}"></a></li>
	    <li th:text="#{manutencao.default.label}" ></li >
	    <li th:text="#{manutencao.papel.label}"></li >
	    <li th:text="#{manutencao.formulario.label}"></li >
	  </ol>
	</div>	
</div >


<th:block layout:fragment="page_content">
	<form action="#" th:action="${papel.idPapel == null} ? @{/papel/add} : @{/papel/update/{id}(id=${papel.idPapel})}" th:object="${papel}" method="post">
        <input type="hidden" th:field="*{idPapel}" id="idPapel" />
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800" th:text="#{manutencao.papel.label.h2}"></h1>

		<!-- DataTales Example -->
		<div class="card shadow mb-5">
			<div class="card-header py-3">
				<div class="col-md-4 float-right">
					<input type="submit" class="btn btn-primary float-right" value="Salvar">
					<a href="/papel/list" class="btn btn-primary float-right mr-1"
						th:text="#{manutencao.default.button.voltar}"></a>
				</div>
			</div>

			<div class="card-body">
				<input type="hidden" th:field="*{idPapel}" id="idPapel" />
			
				<div class="row">
					<div class="form-group col-md-6">
						<label for="nome" class="col-form-label">Nome Papel</label>
						<input type="text" th:field="*{nome}" class="form-control text-uppercase" id="nome" placeholder="nome">
						<div class="alert alert-warning" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
					</div>
					
					<div class="form-group col-md-6">
						<label for="descricaoResumida" class="col-form-label">Descrição Resumida</label>
						<input type="text" th:field="*{descricaoResumida}" class="form-control text-uppercase" id="descricaoResumida" placeholder="Descrição Resumida">
						<div class="alert alert-warning invalid-tooltip active" th:if="${#fields.hasErrors('descricaoResumida')}" th:errors="*{descricaoResumida}"></div>
					</div>
					
					<div class="form-group col-md-6">
						<label for="descricaoCompleta" class="col-form-label">Descrição Completa</label>
						<input type="text" th:field="*{descricaoCompleta}" class="form-control text-uppercase" id="descricaoCompleta" placeholder="Descrição Completa">
						<div class="alert alert-warning" th:if="${#fields.hasErrors('descricaoCompleta')}" th:errors="*{descricaoCompleta}"></div>
					</div>
					
			
					<div class="form-group col-md-6">
						<label for="tipoAcesso" class="col-form-label">Tipo Acesso</label>
						<select type="text" th:field="*{tipoAcesso}" required class="form-control" id="tipoAcesso">
							<option value="">Selecione</option>
							<option value="EMPRESA">EMPRESA</option>
							<option value="INTERNO">INTERNO</option>
			
						</select>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('tipoAcesso')}" th:errors="*{tipoAcesso}"></div>
					</div>
			
					<div class="form-group col-md-6">
						<label for="status" class="col-form-label">Status</label>
						<select type="text" th:field="*{status}" required class="form-control" id="status">
							<option value="">Selecione</option>
							<option value="ATIVO">ATIVO</option>
							<option value="INATIVO">INATIVO</option>
						</select>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
					</div>
				</div>
			
				<th:block layout:insert="fragments/audit-form"></th:block>
			</div>
	</form>
</th:block>
