<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<style>
	
	table {
		width: 70%;
	}
	
	table thead tr th {
		border: 1px solid black;
		background-color: darkgray;
	}
	
	table tbody tr td {
		border: 1px solid black;
	}
</style>

<form id="searchForm" action="#" th:action="@{/orcamento/search}" th:object="${principalObject}" method="post">
		
	<input type="hidden" th:field="*{size}" class="form-control" id="size" />
	<input type="hidden" th:field="*{pageNumber}" class="form-control" id="pageNumber" />
	
    <h1 class="h3 mb-4 text-gray-800" >Lista de Orcamentos</h1>

	<div>
		<input type="text" th:field="*{data.nomeCliente}" class="form-control text-uppercase" id="data.nomeCliente" placeholder="Nome do Cliente">
		<button type="submit" class="btn btn-primary mr-1">Pesquisar</button>
		<a href="/orcamento/show-form" class="btn btn-primary">Adicionar</a>
	</div>
	
	<br /><br />
	
    <table>
        <thead>
              <tr>
				<th>Código</th>
                <th>Nome do Cliente</th>
                <th>Data Emissão</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        	<tr th:if="${principalList == null || principalList.size == 0 || principalList.empty}">
            	<td colspan="6" style="text-align: center;" >Nenhum Orcamento Encontrado</td>
	        </tr>
        	<tr th:each="objectReturn : ${principalList}">
                <td th:text="${objectReturn.codigo}"></td>
                <td th:text="${objectReturn.nomeCliente}"></td>
				<td th:text="${objectReturn.dataEmissao}"></td>
                <td style="text-align: center;">
                	<a th:href="@{/orcamento/edit/{id}(id=${objectReturn.idOrcamento})}" class="btn btn-primary">Edit</a> | 
                	<a th:href="@{/orcamento/delete/{id}(id=${objectReturn.idOrcamento})}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <br />
    
	<div>
		<a href="/index" class="btn btn-primary float-right mr-1">Voltar</a>
	</div>
</form >
