<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/template-logado}">

<div layout:fragment="breadcrumb">
	<div class="d-flex justify-content-between align-items-center">
	  <ol>
	    <li><a href="/index" th:text="#{company.name}"></a></li>
	    <li th:text="#{manutencao.default.label}" ></li >
	    <li th:text="#{manutencao.cliente.label}"></li >
	    <li th:text="#{manutencao.formulario.label}"></li >
	  </ol>
	</div>	
</div >


<th:block layout:fragment="page_content">
    <form action="#" th:action="${idProduto == null} ? @{/produto/add} : @{/produto/update/{id}(id=${idProduto})}" th:object="${produto}" method="post">
		 <input type="hidden" th:field="*{idProduto}" id="idProduto" />
		
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800" th:text="#{manutencao.produto.label.h2}"></h1>
	
	
		<div class="card shadow mb-5">
			<div class="card-header py-3">
				<div class="col-md-4 float-right">
					<input type="submit" class="btn btn-primary float-right" value="Salvar">
					<a href="/produto/list" class="btn btn-primary float-right mr-1"
						th:text="#{manutencao.default.button.voltar}"></a>
				</div>
			</div>

			<div class="card-body">
                <div class="row">
                	<div class="form-group col-md-2">
                        <label for="codigo" class="col-form-label">Código do Produto (*)</label>
                        <input type="text" disabled th:field="*{codigo}" class="form-control" id="codigo" required placeholder="Código do Produto">
                        <span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="text-danger"></span>
                    </div>
                	
                	<div class="form-group col-md-10">
                        <label for="nomeProduto" class="col-form-label">Nome do Produto (*)</label>
                        <input type="text" th:field="*{nomeProduto}" class="form-control" id="nomeProduto" required placeholder="Nome do Produto">
                        <span th:if="${#fields.hasErrors('nomeProduto')}" th:errors="*{nomeProduto}" class="text-danger"></span>
                    </div>
                   
                </div>
                
                <!-- Divider -->
            	<hr class="sidebar-divider">
                    
                  <div class="row">  
					   <div class="form-group col-md-4">
                        <label for="fabricante" class="col-form-label">Fabricante (*)</label>
                        <input type="text" th:field="*{fabricante}" class="form-control" id="fabricante" placeholder="Fabricante">
                        <span th:if="${#fields.hasErrors('fabricante')}" th:errors="*{fabricante}" class="text-danger"></span>
                    </div>
                	
                	<div class="form-group col-md-4">
                        <label for="dataVencimento" class="col-form-label">Data de Vencimento</label>
                        <input type="date" data-pattern="dd/MM/yyyy" th:field="*{dataVencimento}" class="form-control" id="dataVencimento" placeholder="Data de Vencimento">
                        <span th:if="${#fields.hasErrors('dataVencimento')}" th:errors="*{dataVencimento}" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="medida" class="col-form-label">Medida (*)</label>
                        <select type="text" th:field="*{medida}" required class="form-control" id="medida">
                        	<option value="" >Selecione</option>
                        	<option value="UNIT" >UNIDADE</option>
                        	<option value="KG" >KILOGRAMA</option>
                        	<option value="GR" >GRAMAS</option>
                        	<option value="L" >LITRO</option>
                        	<option value="ML" >MILILITRO</option>
                        </select  >
                        <span th:if="${#fields.hasErrors('medida')}" th:errors="*{medida}" class="text-danger"></span>
                    </div>
					  
                     <div class="form-group col-md-4">
                        <label for="quantidadeRealEstoque" class="col-form-label">Quantidade Real de Estoque (*)</label>
                        <input type="number" th:field="*{quantidadeRealEstoque}" class="form-control" id="quantidadeRealEstoque" required placeholder="Quantidade Real de Estoque">
                        <span th:if="${#fields.hasErrors('quantidadeRealEstoque')}" th:errors="*{quantidadeRealEstoque}" class="text-danger"></span>
                    </div>
                	
                	<div class="form-group col-md-4">
                        <label for="quantidadeIdealEstoque" class="col-form-label">Quantidade Ideal de Estoque (*)</label>
                        <input type="number" th:field="*{quantidadeIdealEstoque}" class="form-control" id="quantidadeIdealEstoque" required placeholder="Quantidade Ideal de Estoque">
                        <span th:if="${#fields.hasErrors('quantidadeIdealEstoque')}" th:errors="*{quantidadeIdealEstoque}" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="percentualNotificacao" class="col-form-label">Percentual para Notificação (%) (*)</label>
                        <input type="number" th:field="*{percentualNotificacao}" class="form-control" id="percentualNotificacao" required placeholder="Percentual para Notificação (%)">
                        <span th:if="${#fields.hasErrors('percentualNotificacao')}" th:errors="*{percentualNotificacao}" class="text-danger"></span>
                    </div>
                    
                    
                    
                    <div class="form-group col-md-4">
                        <label for="status" class="col-form-label">Status (*)</label>
                        <select type="text" th:field="*{status}" required class="form-control" id="status">
                        	<option value="" >Selecione</option>
                        	<option value="ATIVO" >ATIVO</option>
                        	<option value="INATIVO" >INATIVO</option>
                        </select  >
                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="valorCusto" class="col-form-label">Valor de Custo</label>
                        <input type="text" th:field="*{valorCusto}" class="form-control" id="valorCusto" >
                        <span th:if="${#fields.hasErrors('valorCusto')}" th:errors="*{valorCusto}" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="valorVenda" class="col-form-label">Valor de Venda</label>
                        <input type="text" th:field="*{valorVenda}" class="form-control" id="valorVenda" >
                        <span th:if="${#fields.hasErrors('valorVenda')}" th:errors="*{valorVenda}" class="text-danger"></span>
                    </div>
                </div>
        	
        		<!-- Divider -->
            	<hr class="sidebar-divider">
        	
		        <th:block layout:insert="fragments/audit-form"></th:block>
        		
        		<!-- Divider -->
            	<hr class="sidebar-divider">
        		
        		<div class="row">
		            <div class="col-md-12">
		                <h4 >Movimentação de Estoque</h4>    
	                	<div class="table-responsive">
			                <table class="table table-bordered table-striped">
								<thead>
									<tr>
			                            <th>Quantidade</th>
			                            <th>Data</th>
			                            <th>Executado Por</th>
									</tr>
								</thead>
			                    <tbody>
			                    	<tr th:if="${produto.estoqueProdutos == null}">
						            	<td colspan="3" th:text="#{manutencao.estoqueProduto.label.not-found}" ></td>
							        </tr>
			                        <tr th:each="estoqueProdutoIndex, estoqueProdutoStat : ${produto.estoqueProdutos}">
										<td th:text="${estoqueProdutoIndex.quantidade}"></td>
			                            <td th:text="${#temporals.format(estoqueProdutoIndex.dataExecucao, 'dd/MM/yyyy HH:mm:ss')}"></td>
			                            <td th:text="${estoqueProdutoIndex.criadoPor}"></td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
		            </div>
        		</div>
			</div>
		</div>
    </form>
    
</th:block>

<th:block layout:fragment="script-post">
	
</th:block>
