<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/template-deslogado}">

<th:block layout:fragment="breadcrumb">
	<div class="d-flex justify-content-between align-items-center">
		<ol>
			<li><a href="/index" th:text="#{company.name}"></a></li>
			<li> Login</li>
		</ol>
	</div>
</th:block>

<div class="container" layout:fragment="page_content">
	<form th:action="@{/login}" method="post">
		
		<div class="row " style="margin-top: 15%; margin-bottom: 12%;">
			<div class="form-group col-md-4">
			</div>
			
			<div class="form-group col-md-4">
	
				<div class="card">
				  <div class="card-header" style="text-align: center; background-color: dimgrey; color: aliceblue;">
				    Controle de Estoque
				  </div>
				  <div class="card-body">
				    <div class="row ">
			        	<div class="form-group col-md-12">
			                <label for="username" class="col-form-label" >Username</label>
			                <input type="text" class="form-control" placeholder="Username" name="username"/>
			            </div>
					</div>    
			        <div class="row ">
			            <div class="form-group col-md-12">
			                <label for="password" class="col-form-label">Password</label>
			                <input type="password" name="password" class="form-control" placeholder="Password" />
			                <br />
			            	<input type="submit" class="btn btn-secondary" value="Login"/>
			            </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		
	</form>
</div>
