<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/template-logado}">

<th:block layout:fragment="breadcrumb">
	<div class="d-flex justify-content-between align-items-center">
		<ol>
			<li><a href="/index" th:text="#{company.name}"></a></li>
			<li> Login</li>
		</ol>
	</div>
</th:block>

<div class="container" layout:fragment="page_content">
	<div class="row " style="margin-top: 100px; margin-bottom: 100px;">
		<div class="form-group col-md-4">
		</div>
		
		<div class="form-group col-md-4">

			<div class="card">
			  <div class="card-header" style="text-align: center;">Alteração de Senha</div>
	            <div class="card update-password-card">
	                <div class="card-body">
	                    <form id="updatePasswordForm" action="#" th:action="@{/usuario/password/update}" th:object="${principalObject}" method="post">
	                        <div class="form-group">
	                            <label class="form-label">Senha Atual:</label>
	                            <input type="password" th:field="*{currentPassword}" id="currentPassword" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label class="form-label">Nova Senha:</label>
	                            <input type="password" th:field="*{newPassword}" id="newPassword" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label class="form-label">Confirmar Nova Senha:</label>
	                            <input type="password" th:field="*{confirmNewPassword}" id="confirmNewPassword" class="form-control" />
	                        </div>
	                        <div class="form-group text-center">
	                            <button type="submit" class="btn btn-primary btn-block">Atualizar Senha</button>
	                        </div>
	                        <div th:if="${error}" class="form-group text-center">
	                            <p style="color: red;">[[${error}]]</p>
	                        </div>
	                        <div th:if="${message}" class="form-group text-center">
	                            <p style="color: green;">[[${message}]]</p>
	                        </div>
	                    </form>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
